@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    background: white;
    background-size: cover;
    background-color: white;
    font-size: 16px;
  }
  
span{
    color: crimson;
}

/*nav start */

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-direction: row;
    margin-top: 2rem;
    
}
.navbar .nav-ava{
    display: flex;
    justify-content: center;
    width: 30%;
}
.navbar img{
    width: 50%;
}
.nav{
    display: flex;
    justify-content: center;
    width: 70%;
    
}
.navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    text-align: center;
}
.navbar a{
    color:black;
    text-decoration: none;
    transition: all 0.3s;
    font-family: 'Orbitron', sans-serif;
    border: none;
    transition: all 0.2s;

}
.navbar a:hover{
    font-size: 2.5rem;
    cursor: pointer;
    
}

/*nav end */

/*welcome start*/


.welcome{
    background-image: url(./img/floating.gif);
    background-size: 10% ;
    background-position:left;
    background-repeat: no-repeat;
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin: 3.5rem 0;
    font-family: 'Chakra Petch', sans-serif;
    

}.welcome{
    width: 100%;
    padding: 0 0;
}
.welcome .name{
    width: 100%;
    font-size: 2rem;
    color: black;
    text-align: center;

}
.name{
    display: inline-block;
}
.welcome h1{
  overflow: hidden;
  /* border-right: .15em solid royalblue; */
  white-space: nowrap;
  animation: 
  typing 1s forwards;
  font-size:4rem;
  width: 0;
  margin: 1rem;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.name h2{
    font-family: 'Sigmar One', cursive;
}
.avatar{
    width: 100%;
    background-color: white;
}
.welcome .avatar img{
    width:100%;
    height: auto;
    margin: 0;
}
/*welcome end*/
/*aboutme start*/
.about-me{
    margin: 3rem 0;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1.5rem;
}
.about-me p{
    background-image: url(./img/PC.gif);
    background-size: cover;
    background-position: center center;
    color: black;
    line-height: 3rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 90%;
}
/*aboutme end*/
/* education start*/
.education{
    background-image: url(./img/Edu.gif);
    background-position: center bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 1rem 0;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education h4{
    font-size: 4rem;
    font-family: 'Electrolize', sans-serif;
    color: black;
    font-weight: bolder;
}
.education ul{
    display: flex;
    flex-direction: column;
    font-family: 'Electrolize', sans-serif;
    color:black;
    font-size: 2rem;
    list-style:decimal-leading-zero;
    gap: 5rem;
    font-weight: bolder;
}
/* education end*/


/* project*/
.projects{
    margin: 3rem 0;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: 'Black Ops One', cursive;
}
.projects h4{
    font-size: 3rem;
    color: black;
}
.my-project{
    display: flex;
    flex-direction: row;
}
.my-project a{
    width: 350px;
    height:500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px royalblue solid;
    margin: 0 1rem;
    transition: all 0.3s;

}
.my-project a:hover{
    box-shadow: -23px 44px 43px -13px rgba(65,105,225,0.75);
    -webkit-box-shadow: -23px 44px 43px -13px rgba(65,105,225,0.75);
    -moz-box-shadow: -23px 44px 43px -13px rgba(65,105,225,0.75);
}
.my-project a img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
.my-project h2{
    width: 350px;
    height:50px;
    font-size: 1.5rem;
    justify-content: center;
    padding: 2rem 0;
}

/* project*/
/*Contact Start*/
.contact{
    width: 100%;
    height: 300px;
    background-image: url(./img/aero.gif);
    background-position:  left bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.contact h3{
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
.contact .logos{
    display: flex;
}
.contact a{
    width: 50%;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact  a img{
    width: 25%;
    height: auto;
    transition: all .03s;
}
.contact  a img:hover{
    width: 35%;
    /* transform: (50deg); */
    transform: rotate(-45deg);
    
}
/*Contact end*/
/* footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 0 0 0;
    width: 100%;
    height: auto;
    /* background-color: black; */
    font-family: 'Bungee', cursive;
}
footer p{
    font-size: 1.5rem;
    color: black;
    text-align: center;
}
/* footer*/
/* @media only screen and ( max-width: 700px ) {
    #navbar {
       position: relative;
       width: 100%;
     }
} */







